# HOST related variables
HOST_MSR_LICENSE_FILE=C:\sag\provided\lic\msr-license.xml
HOST_PORT_PREFIX=401

# GUEST related variables
GUEST_IS_HOME=/opt/softwareag/IntegrationServer

# Reusability variables

CONTAINER_REGISTRY_URL=azdevopspw1acr.azurecr.io
CONTAINER_IMAGE_REPOSITORY=msr-1011-lean-original-recipe
CONTAINER_IMAGE_TAG=Fixes_22-11-22

SMTP_HOST_NAME=smtp.gmail.com
SMTP_HOST_PORT=465
SMTP_USER_EMAIL=mihai.ungureanu.sag@gmail.com
SMTP_USER_PASS=zqwnjpfdpyffjdsj


NEWSAPI_BASE_URL=https://newsapi.org/
NEWSAPI_BASE_KEY=b8b16f2f045d449f902ba9008e94ac7b